# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Data and Databases
data/*
!data/.gitkeep
vectorstore/
rag.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python packages
*.egg-info/
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# Misc
.DS_Store
index_files/
index.html
.logs/
.local/